
{% load static %}
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1>Monitor Devices</h1>
    <h2>10 most popular devices</h2>
    <table class="calendar">
      <thead>
        <tr>
          <th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th><th>S</th>
        </tr>
      </thead>
      <tbody>
          {% for d in days %}
            {% if forloop.counter0|divisibleby:7 %}
              {% if forloop.first %}
                </tr>
              {% endif %}
                <tr>
            {% endif %}


            {% with d|stringformat:"02i" as strdate %}
                {% with "2017-05-"|add:strdate as fulldatestr %}
                  <td><a href="{% url 'date' fulldatestr %}">{{d}}</a></td>
                {% endwith %}
            {% endwith %}



              {% if forloop.last %}
                </tr>
              {% endif %}
          {% endfor %}

      </tbody>
    </table>


    <h2>Most popular device by status over 30 days<h2/>
    <ul>
      <li><a href="{% url 'device' 'gateway' 'online' %}">gateway online</a></li>
      <li><a href="{% url 'device' 'gateway' 'offline' %}">gateway offline</a></li>
      <li><a href="{% url 'device' 'sensor' 'online' %}">sensor online</a></li>
      <li><a href="{% url 'device' 'sensor' 'offline' %}">sensor offline</a></li>
    </ul>
  </body>
</html>
